@model ApplicationCore.Models.MovieDetailsModel
@inject ApplicationCore.ServiceContracts.IUserService userService
@using MovieShopMVC.Infra
@inject ICurrentUser currentUser

@{
	ViewData["Title"] = @Model.Title;
}

<div style="background-image:url(@Model.BackdropUrl); background-size: cover" class="background container-fluid">
	<div class="row justify-content-center">
		<div style="text-align: center" class="col">
			<img src="@Model.PosterUrl">
		</div>
		<div class="col">
			<div class="row">
				<h1 style="margin-top:0.7em;">@Model.Title</h1>
				<p style="font-size:0.9em; color:lightgrey;">@Model.Tagline</p>
			</div>
			<div class="row">
				<div class="col" style="color:lightgrey;">
					@Model.RunTime m | @Model.ReleaseDate.Year
				</div>
				<div class="col">
					@foreach (var genre in @Model.Genres)
					{
						<span class="badge rounded-pill bg-secondary">@genre.Name</span>
					}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h4><span class="badge bg-success">N/A</span></h4>
				</div>
			</div>
			<p>@Model.Overview</p>
		</div>
		<div class="col-3" style="margin-top :3em;margin-right:1em;">
			<div class="row justify-content-center" style="margin-bottom:1em;">
				@if (currentUser.isAuthenticated)
				{
					<button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#review"><i class="far fa-edit"></i>&nbsp REVIEW</button>
				}
				else
				{
					<a class="btn btn-outline-light" asp-controller="Account" asp-action="Login"><i class="far fa-edit"></i>&nbsp REVIEW</a>
				}

			</div>
			<div class="row justify-content-center" style="margin-bottom:1em">
				@if (currentUser.isAuthenticated)
				{
					if (await userService.IsMoviePurchased(new ApplicationCore.Models.PurchaseRequestModel { MovieId = Model.Id }, currentUser.UserId))
					{
						<button type="button" class="btn btn-light">Watch Movie</button>
					}
					else
					{
						<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#purchase">BUY $@Model.Price</button>
					}

				}
				else
				{
					<a class="btn btn-light" asp-controller="Account" asp-action="Login">BUY $@Model.Price</a>
				}
			</div>
			<div class="row justify-content-center">
				@if (currentUser.isAuthenticated)
				{
					@if (await userService.FavoriteExists(currentUser.UserId, Model.Id))
					{
						<form asp-controller="User" asp-action="RemoveFavorite">
							<div class="form-group">
								<input type="hidden" id="UserId" name="UserId" value="@currentUser.UserId">
								<input type="hidden" id="Movieid" name="MovieId" value="@Model.Id">
							</div>
							<div class="form-group">
								<button type="submit" class="btn-outline-light"><i class="fas fa-heart">&nbsp;UnFavorite</i></button>
							</div>
						</form>
					}
					else
					{
						<form asp-controller="User" asp-action="AddFavorite">
							<div class="form-group">
								<input type="hidden" id="UserId" name="UserId" value="@currentUser.UserId">
								<input type="hidden" id="Movieid" name="MovieId" value="@Model.Id">
							</div>
							<div class="form-group">
								<button type="submit" class="btn-outline-light"><i class="far fa-heart">&nbsp;Favorite</i></button>
							</div>
						</form>
					}
				}
				else
				{
					<a class="btn btn-outline-light" asp-controller="Account" asp-action="Login"><i class="far fa-heart"></i>&nbsp;Favorite</a>
				}
			</div>
		</div>
	</div>
</div>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-5">
			<h4>MOVIE FACTS</h4>
			<hr>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><i class="far fa-calendar-alt"></i>&nbsp;Release Date &nbsp; <span class="badge rounded-pill bg-secondary">@Model.ReleaseDate.ToString("MMM dd, yyyy")</span></li>
				<li class="list-group-item"><i class="fas fa-hourglass-half"></i>&nbsp;Run Time &nbsp; <span class="badge rounded-pill bg-secondary">@Model.RunTime m</span> </li>
				<li class="list-group-item"><i class="fas fa-money-bill"></i>&nbsp;Box Office &nbsp; <span class="badge rounded-pill bg-secondary">@String.Format("{0:c}", Model.Revenue)</span></li>
				<li class="list-group-item"><i class="fas fa-dollar-sign"></i>&nbsp;Budget &nbsp; <span class="badge rounded-pill bg-secondary">@String.Format("{0:c}", Model.Budget)</span></li>
			</ul>
			<br>
			<h4>TRAILERS</h4>
			<hr />
			<ul class="list-group list-group-flush">
				@foreach (var trailer in Model.Trailers)
				{
					<li class="list-group-item">
						<i class="fab fa-youtube"></i>&nbsp;<a href="@trailer.TrailerUrl">@Model.Title</a>
					</li>
				}
			</ul>
		</div>
		<div class="col-7 cast-info">
			<h4>CAST</h4>
			<hr />
			<ul class="list-group list-group-flush">
				@foreach (var cast in Model.Casts)
				{
					<li class="list-group-item">
						<div class="row">
							<div class="col">
								<a asp-controller="Cast" asp-action="Details" asp-route-id="@cast.Id">
									<img style="border-radius:50%; height:3em;" src="@cast.ProfilePath" alt="@cast.Name">
								</a>
							</div>
							<div class="col">
								@cast.Name
							</div>
							<div class="col">
								@cast.Character
							</div>
						</div>
					</li>
				}
			</ul>
		</div>
	</div>
</div>
@if (currentUser.isAuthenticated)
{
	// need to check if we are updating or adding a review
	var review = await userService.GetReviewDetails(currentUser.UserId, Model.Id);
	var rating = review != null ? review.Rating : 1; // if review is null return 1, else return review.Rating
	var text = review != null ? review.ReviewText : "";
	var aspAction = review != null ? "UpdateReview" : "AddReview";
	var modalTitle = review != null ? "Update a review for " + @Model.Title : "Write a review for " + @Model.Title;

	<div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="reviewLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="reviewModalLabel">@modalTitle</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form asp-controller="User" asp-action=@aspAction>
						<div>
							<div class="form-group">
								<input type="hidden" id="UserId" name="UserId" value="@currentUser.UserId" />
								<input type="hidden" id="MovieId" name="MovieId" value="@Model.Id">
							</div>
							<div class="form-group">
								<label for="rating">Rating:</label>
								<select class="custom-select" id="Rating" name="Rating">
									<option selected>@rating</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
								</select>
							</div>
							<div class="form-group">
								<label for="reviewText">Review:</label>
								<textarea class="form-control" rows="10" id="ReviewText" name="ReviewText">@text</textarea>
							</div>
						</div>
						<div>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							@if (review == null)
							{
								<button type="submit" class="btn btn-primary">Submit Review</button>
							}
							else
							{
								<button type="submit" class="btn btn-primary">Update Review</button>
								<button type="submit" class="btn btn-primary" asp-controller="User" asp-action="DeleteReview">Delete Review</button>
							}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}

@if (currentUser.isAuthenticated)
{
	<div class="modal fade" id="purchase" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="reviewModalLabel">Purchase</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>Title of the movie:<b> @Model.Title</b></p>
					<p>Price of the movie:<b> $@Model.Price</b></p>
					<p>Would you like to buy this movie?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<form asp-controller="User" asp-action="BuyMovie" asp-route-userId="@currentUser.UserId">
						<div class="form-group">
							<input type="hidden" id="MovieId" name="MovieId" value="@Model.Id">
							<input type="hidden" id="TotalPrice" name="TotalPrice" value="@Model.Price">
							<input type="hidden" id="PurchaseDateTime" name="PurchaseDateTime" value="@DateTime.Now">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary">Purchase</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
}
